---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #000000;
}

.page-header {
  padding: 0;
}

.background-image {
  padding: 5rem 4rem;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
}